<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- - Font Awesome CDN - -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<link href="{{{global.img_favicon}}}=s32-c" type="image/png" rel="icon" />

<link href="{{{cdn}}}/dist/css/style.min.css" rel="stylesheet">
<link href="{{{cdn}}}/dist/css/dj_custom_css.css" rel="stylesheet">
<link href="{{{cdn}}}/dist/css/profile.css" rel="stylesheet">

